/* [project]/src/css/satoshi.css [app-client] (css) */
@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-Light.0lx670_9j82xu.woff2") format("woff2"), url("../media/Satoshi-Light.17z4nkcg4pbuq.woff") format("woff"), url("../media/Satoshi-Light.01kxs_fe.a8ac.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-LightItalic.02_-9h.oclja3.woff2") format("woff2"), url("../media/Satoshi-LightItalic.0ltyv-oxfcu0..woff") format("woff"), url("../media/Satoshi-LightItalic.0mt7v45dnhjh9.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-Regular.049.kwhs-b7lf.woff2") format("woff2"), url("../media/Satoshi-Regular.075s1el8p1990.woff") format("woff"), url("../media/Satoshi-Regular.0.0oa7bf37gql.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-Italic.14k0agdnrny~o.woff2") format("woff2"), url("../media/Satoshi-Italic.0a48ybue~ozqj.woff") format("woff"), url("../media/Satoshi-Italic.0p_bq5l7.i1oa.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-Medium.0hq2a81xn4_re.woff2") format("woff2"), url("../media/Satoshi-Medium.0ij3-gjtso.9h.woff") format("woff"), url("../media/Satoshi-Medium.0j0-yvv1rc9ab.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-MediumItalic.0mx.vhn.qsfyq.woff2") format("woff2"), url("../media/Satoshi-MediumItalic.00~.uc2xrvhrj.woff") format("woff"), url("../media/Satoshi-MediumItalic.0vvympwa6xfyt.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-Bold.0yt9gwi-.i49f.woff2") format("woff2"), url("../media/Satoshi-Bold.00b9rhufkb8~..woff") format("woff"), url("../media/Satoshi-Bold.0l2i.awai_5h7.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-BoldItalic.0~t.e0r6oynfi.woff2") format("woff2"), url("../media/Satoshi-BoldItalic.05.sp3dsdpg37.woff") format("woff"), url("../media/Satoshi-BoldItalic.0m6bqx82tlpol.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-Black.0mxjq567rs1on.woff2") format("woff2"), url("../media/Satoshi-Black.0b79k7-b6ses0.woff") format("woff"), url("../media/Satoshi-Black.0x5br2_.~v9o~.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-BlackItalic.0a4~di~h29uuo.woff2") format("woff2"), url("../media/Satoshi-BlackItalic.0bwp_rkvsxnap.woff") format("woff"), url("../media/Satoshi-BlackItalic.12ty5wrg6-zq_.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

/*# sourceMappingURL=src_css_satoshi_css_0w3-wzy._.single.css.map*/